
:root {
    --primary: #96806C;
    --secondary: #252e20;
    --accent-1: #005B41;
    --accent-2: #008170;
}

* {
    font-weight: 500;
    font-size: 22px;
    font-family: 'moontime', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: var(--primary);
    color: var(--secondary);
}
