
.parallax {
    background-image: url('/assets/Photos/BackgroundImage.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: hard-light;
}