

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-section {
    width: 100%;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mission-statement {
    color: white;
}

img {
    width: 100%;
}


.video {
    background-color: #272928;
}