@font-face {
    font-family: 'cinzel';
    src: url("/assets/Fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'alta';
    src: url("/assets/Fonts/Alta_Light.otf") format("opentype");
}

@font-face {
    font-family: 'moontime';
    src: url("/assets/Fonts/MoonTime-Regular.ttf") format("truetype");
}