
$color-primary: #272928;
$color-secondary: #494D3F;
$color-accent-1: #898A7C !default;
$color-accent-2: #986A50 !default;
$color-accent-3: #C6A488 !default;
$color-accent-4: #D5C9B9 !default;

.logo-region {
    width: 100%;
    background-color: var(--accent-2);
    padding: 5vw;
    display: flex;
    justify-content: center;
}

.landing-image {
    width: 30%;
}


