
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    position: sticky; top:0; 
    z-index: 999;
}

.options {
    width: 25%;
    max-width: 25%;
    height: 100vh;
    overflow: visible;
    z-index: 10;
    padding: 25px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.images {
    width: 85%;
    height: 100vh;
    display:flex;
}

.portfolio-btn {
    margin: 10px 10px 10px 10px;
    border: none;
    background-color: transparent;
    transition-duration: 300ms;
    color:#272928;
    font-size: 22px;
    font-weight:600;
    
    color:#306844;
}

.portfolio-btn:first-child {
    margin-top: 10px;
}

.portfolio-btn:hover {
    color: #494D3F;
    transition-duration: 300ms;
    padding-left: 30px;
}

.portfolio-btn:active {
    color: #898A7C;
    transition-duration: 300ms;
}

.portfolio-btn-selected {
    padding-left: 25px;
    font-size: 30px;
    transition-duration: 300ms;
}


.image-bounds {
    width: calc(100% - 150px);
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
}


.image-scroll {
    width: 20%;
    box-shadow: -10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.list {
    list-style-type: none;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list:first-child {
    padding-top: 10px;
}

.list:last-child {
    padding-bottom: 10px;
}

ul,li {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.image-ul {
    height: 100%;
    overflow-y: auto;
    width: 150px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}


.scroll-image {
    transition-duration: 300ms;
    display: block;
}

.scroll-image:hover {
    opacity: .5;
    cursor: pointer;
}

.scroll-image:active {
    opacity: .25;
    cursor: pointer;
}

ul::-webkit-scrollbar {
    width: 8px; /* You can adjust the width as needed */
  }
  
  /* Webkit browsers (Safari/Chrome) */
  ul::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: transparent;
  }
