
<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- BUMP TO BABY -->
<div class="service">
    <div class="service-content service-right">
        <div>
            <p class="service-heading">
                Bump to Baby
            </p>
            <br/>
            <p>
                +790$ - Inquire for info.
            </p>
        </div>
        
        <img src="/assets/Photos/Services/bump-to-baby.png" />
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- MATERNITY, ENGAGEMENT -->
<div class="service">
    <div class="service-content service-left">
        <img src="/assets/Photos/Services/maternity-engagement.png" />
        
        <div>
            <p class="service-heading">
                Maternity, Engagement
            </p>
            <br/>
            <p>
                345$ - Studio or Monroe Mi outdoor location 18 edited images included.
            </p>
        </div>
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- NEWBORN SESSION -->
<div class="service">
    <div class="service-content service-right">
        <div>
            <p class="service-heading">
                Newborn Session
            </p>
            <br/>
            <p>
                475$ - Just baby, all swaddles, props & hats / bows includes 15 edited photos.
            </p>
            <p>
                500$- All listed above + Parents, 18 photos.
            </p>
            <p>
                550$ - All listed above + Parents & Siblings, 22 photos.
            </p>
            <p>
                In home newborn available - please inquire directly for pricing.
            </p>
        </div>

        <img src="/assets/Photos/Services/newborn session.png" />
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- FAMILY SESSION -->
<div class="service">
    <div class="service-content service-left">
        <img src="/assets/Photos/Services/family-session.png" />

        <div>
            <p class="service-heading">
                Family Session
            </p>
            <br/>
            <p>
                250$ - Your choice of studio or outdoor!
            </p>
            <p>
                350$ - Full family session - 18 images, option of 2 outfits!
            </p>
            <p>
                550$ - All listed above + Parents & Siblings, 22 photos.
            </p>
            <p>
                600$ - Mini family session - 8 images, 1 outfit.
            </p>
        </div>
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- BIRTHDAY MILESTONE -->
<div class="service">
    <div class="service-content service-right">
        <div>
            <p class="service-heading">
                Birthday/Milestone Session
            </p>
            <br/>
            <p>320$ - Studio or outdoor location, no cake access to all props 15 edited photos.</p>
            <p style="margin-left:2.5em;">- add a balloon arch for 10$</p>
            <p>375$ - Studio or Monroe Mi outdoor location.</p>
            <p>450$ - Small cake + balloon arch ( indoor only for arch balloon supplied for outdoor ) 20 photos.</p>
        </div>

        <img src="/assets/Photos/Services/birthday-milestone.png" />
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- SENIOR SESSION -->
<div class="service">
    <div class="service-content service-left">
        <img src="/assets/Photos/Services/senior-session.png" />

        <div>
            <p class="service-heading">
                Senior Session
            </p>
            <br/>
            <p>
                +450$ - 20-40 edited photos depending on what we discuss, multiple location options
            </p>
            <p>
                & multiple outfit options available. Sessions need to be set up directly between
            </p>
            <p>
                client & photographer.
            </p>
        </div>
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>

<!-- WEDDING -->
<div class="service">
    <div class="service-content service-right">
        <div>
            <p class="service-heading">
                Weddings
            </p>
            <br/>
            <p>
                Inquiry for pricing information.
            </p>
            <p>
                3 packages offered!
            </p>
            <p>
                Special pricing for ceremony only!
            </p>
        </div>
        <img src="/assets/Photos/Services/wedding-session.png" />
    </div>
</div>

<!-- PARALLAX -->
<div class="parallax-div">

</div>