
.menu-bar {
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    z-index: 999;
    border-top: 2px solid var(--accent-2);
}

.menu-button {
    border: none;
    width: 100%;
    transition-duration: 400ms;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--accent-2);
    cursor: pointer;
    z-index: 100;
}

.menu-button:hover {
    background: var(--secondary);
    transition-duration: 400ms;
}

.menu-button:active {
    background: var(--accent-1);
    transition-duration: 250ms;
}